
.newsWrapper {
    padding: 56px 64px;
    background: #F4EEFD;
}

.newsTitle {
    font-weight: 700;
    font-size: 40px;
    line-height: 60px;
    color: #313037;
}

.newsText {
    color: #A8A8A8;
    font-size: 18px;
    line-height: 28px;
}